node_modules
./node_modules

src/data/data_detail_0_1000.json
src/data/data_detail_1000_3000.json
src/data/data_detail_3000_5000.json
src/data/data_detail_5000_10000.json
src/data/data_detail_10000_20000.json
src/data/data_detail_20000_30000.json
src/data/data_detail_30000_40000.json